{% extends "erpp_main/main.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    <script>
        $(document)
            .ready(function() {
                $('.ui.form')
                    .form({
                        fields: {
                            ua_username: {
                                identifier  : 'ua_username_id',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please enter your e-mail'
                                    },
                                    {
                                        type   : 'email',
                                        prompt : 'Please enter a valid e-mail'
                                    }
                                ]
                            }
                        }
                    })
                ;
            });
    </script>


    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/forgotpassword.css' %}">
    <div class="ui vertical stripe segment">
        <div class="ui text container login">
            <h2 class="ui teal image header">
                <img src="{% static 'semantic/assets/images/logo.png' %}" class="image">
                <div class="content">
                    Forgot your password
                </div>
            </h2>

            <div class="ui large form">
                <div class="ui stacked segment">
                    <form action="{% url 'erpp_auth:onforgotpassword' %}" method="post">
                        {% csrf_token %}
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="mail outline icon"></i>
                                <input type="text" id="ua_username_id" name="ua_username_name"  placeholder="E-mail address">
                            </div>
                        </div>
                        <input type="submit" class="ui fluid large teal submit button" value="Reset Password">
                    </form>

                    <div class="ui error message">
                    </div>

                    {% if messages %}
                        <div class="ui negative message">
                            <ul class="list">
                                {% for message in messages %}
                                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                </div>
            </div>

            <div class="ui message">
                For new Account? <a href="{% url 'erpp_auth:signup' %}">Sign up</a>
            </div>
        </div>
    </div>
{% endblock %}