{% extends "erpp_main/main.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    <script>
        $(document)
            .ready(function() {
                $('.ui.form')
                    .form({
                        fields: {
                            ua_username: {
                                identifier  : 'ua_username_id',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please enter your e-mail'
                                    },
                                    {
                                        type   : 'email',
                                        prompt : 'Please enter a valid e-mail'
                                    }
                                ]
                            },
                            ua_userpassword: {
                                identifier  : 'ua_userpassword_id',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please enter your password'
                                    },
                                    {
                                        type   : 'length[6]',
                                        prompt : 'Your password must be at least 6 characters'
                                    }
                                ]
                            },
                            ua_userpasswordconfirm: {
                                identifier  : 'ua_userpasswordconfirm_id',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please enter your confirm password'
                                    },
                                    {
                                        type   : 'length[6]',
                                        prompt : 'Your password must be at least 6 characters'
                                    },
                                    {
                                        type   : 'match[ua_userpassword_id]',
                                        prompt : 'Please put the same value in both fields'
                                    }
                                ]
                            }
                        }
                    })
                ;
            })
        ;
    </script>


    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/resetpassword.css' %}">
    <div class="ui vertical stripe segment">
        {% if url_link_expired %}

            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="center aligned column">
                        <h3 class="ui header">Link Expired</h3>
                    </div>
                </div>
            </div>

        {% else %}

            <div class="ui text container login">
                <h2 class="ui teal image header">
                    <img src="{% static 'semantic/assets/images/logo.png' %}" class="image">
                    <div class="content">
                        Reset Password
                    </div>
                </h2>

                <div class="ui large form">
                    <div class="ui stacked segment">
                        <form action="{% url 'erpp_auth:onresetpassword' %}" method="post">
                            {% csrf_token %}
                            <div class="field">
                                <div class="ui left icon disabled input">
                                    <i class="mail outline icon"></i>
                                    <input id="url_resetpassword_id" name="url_resetpassword_name" value="{{ url_resetpassword_value }}" type="hidden">
                                    <input type="text" id="ua_username_id" name="ua_username_name" value="{{ ua_username_value }}" placeholder="E-mail address">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" id="ua_userpassword_id" name="ua_userpassword_name" placeholder="New password">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" id="ua_userpasswordconfirm_id" name="ua_userpasswordconfirm_name" placeholder="Confirm password">
                                </div>
                            </div>
                            <div class="field">
                                <div class="g-recaptcha" name="recaptcha_name" data-sitekey="{{ sitekey_recaptcha }}"></div>
                            </div>
                            <input type="submit" class="ui fluid large teal submit button" value="Reset">
                        </form>

                        <div class="ui error message">
                        </div>

                        {% if messages %}
                            <div class="ui negative message">
                                <ul class="list">
                                    {% for message in messages %}
                                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                    </div>
                </div>

                <div class="ui message">
                    To your account? <a href="{% url 'erpp_auth:login' %}">Login</a>
                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}