{% extends "_erpp_mainadmin/mainadmin.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    <script>
        $(document)
            .ready(function() {
                $("#password_administrator_reset_div_id")
                    .on('click', function() {
                        $("#password_administrator_reset_modal_id").modal('show');
                    });
            });
    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/resetpasswordadmin.css' %}">

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="center aligned column">
                    {% if reset_password_admin %}
                        <h3 class="ui header">Username and password will be sent to your email
                            <a class="ui label blue">
                                <i class="mail icon"></i>{{ username_admin }}
                            </a>
                        </h3>
                        <div id="password_administrator_reset_div_id" class="ui buttons">
                            <button id="password_administrator_reset_button_id" class="ui green button">
                                <i class="unlock  icon"></i>
                                Reset password administrator
                            </button>
                        </div>
                        <p>
                            {% if messages %}
                                <div class="ui negative message">
                                        {% for message in messages %}
                                            {{ message }}
                                        {% endfor %}
                                </div>
                            {% endif %}
                        </p>
                    {% else %}
                        <h3 class="ui header">Administrator password reset</h3>
                        <p>if you want to reset password administrator</p>
                        update line text <i>APP_DEFAULT_ACCOUNT_ADMINISTRATOR_RESET = True</i> and <i>APP_DEFAULT_ACCOUNT_ADMINISTRATOR_USERNAME = "your@mail.com"</i> in <i>setting.py</i> file.<br/>
                        username and password will be sent to your email
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div id="password_administrator_reset_modal_id" class="ui basic modal">
        <div class="ui icon header">
            <i class="reset icon"></i>
            Reset password administrator
        </div>
        <div class="content">
            <p> Username and password will be sent to your email {{ username_admin }}. Are you sure, want to reset password administrator?</p>
        </div>
        <div class="actions">
            <form action="{% url '_erpp_authadmin:onresetpasswordadministrator' %}" method="post">
                {% csrf_token %}
                <div class="ui buttons">
                    <button id="password_administrator_reset_yes_button_id" name="password_administrator_reset_yes_button_name" class="ui green ok button" type="submit">
                        <i class="checkmark icon"></i>
                        Yes
                    </button>
                </div>
                <div class="ui buttons">
                    <button id="password_administrator_reset_no_button_id" name="password_administrator_reset_no_button_name" class="ui red cancel button" type="button">
                        <i class="remove icon"></i>
                        No
                    </button>
                </div>
            </form>
        </div>
    </div>



{% endblock %}